table, th, td {
    background-color: goldenrod;
    width: 350px;
    height: 60px;
    border-radius: 15px;
    border: 0px solid black;
}
table {
    margin: 0 auto;
    border: 8px solid black;
}
button {
    width: 130px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid black;
    cursor: pointer;
    transition: all .5s;
    background-color: ;
}
button:hover{
    color: white;
    background-color: maroon;
}
#display {
    background-color: maroon;
    color: limegreen;
    font-size: 20px;
    text-align: right;
}
body {
    background-color: skyblue;
    background-image: url("http://clipart-library.com/images/gceERxXri.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blankcell {
    background-color: blueviolet;
}
#ti84 {
    border: 0px;
    height: 20px;
    font-weight: bold;
}

h1 {
    color: maroon;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold; 
    font-style: italic;
}

#html-rainbow-text {
    font-size: 100px;
}